/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('home/imgs/11.png'); /* Aquí debes colocar la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #333;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Filtro oscuro para el fondo */
    border-radius: 8px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.568);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(5px);
}

.logo {
    max-width: 120px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 1em 0;
}
.message{
    p{
        margin: 0.5em 0;
    }
}